# Data Science Tools and Ecosystem

Some of the popular languages that Data Scientists use are:

In this notebook, Data Science Tools and Ecosystem are summarized.
Python  
1.   R
2.   Python
1.   SQL
2.   Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy  
2. pandas  
3. Matplotlib  
4. scikit-learn

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| VS Code                  |

### Below are a few examples of evaluating arithmetic expressions in Python.

- `3 + 5` evaluates to `8`
- `10 / 2` evaluates to `5.0`
- `2 * (4 + 6)` evaluates to `20`

In [5]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [12]:
# his will convert 200 minutes to hours by diving by 60.
import numpy as np
def minToHour(min):
  hr = np.round(min/60,2)
  print ('%s minutes = %s hours' %(min, hr))
  return hr

minToHour(200)

200 minutes = 3.33 hours

np.float64(3.33)

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Create tables and lists using Markdown  
- Perform basic arithmetic expressions in Python  
- Convert units using simple Python code

## Author
Tzun-Wen (Grace) Shaw